.card {
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 20px;
}

.nav-link:hover {
    color: #007bff;
}

.container {
    margin-top: 50px;
}

@media (max-width: 767px) {
    .card-img-top {
        height: 150px;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 1rem;
    }
}
