@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

body {
    background-color: rgb(206, 190, 169);
    padding: 0;
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* This is targeting a class in html */
nav {
    display: flex;
    justify-content: center;
    background-color: orangered;
}

.nav_link {
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
}

img{
    width: 40%;
    display: block;
    margin: 0 auto;
    border: 5px solid darkgreen;
    box-sizing: border-box;
    border-radius: 50%;
}

a {
    color: black;
    font-family: "Protest Strike", 'Times New Roman', serif;

}

nav a:hover {
    color: white;
    background-color: navy;
}

#main_title {
    font-size: 4em;
    text-align: center;
    font-family: "Protest Strike", 'Times New Roman', serif;
}

footer p, h3 {
    text-align: center;
}

main p {
    width: 40%;
    margin: 50px auto;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 20px;
    background-color: orangered;
    border: 5px solid darkgreen;
    box-sizing: border-box;
    border-radius: 30px;
}

#sub_title {
    font-size: 2em;
    color: navy;
}

footer {
    background-color: orangered;
    padding: 20px;
}

@media screen and (max-width: 900px) {
    main {
        display: block;
    }
}
